body {
    padding-top: 5rem;
    color: darkslategray;
}

img{
    border-radius: 50%;
    width: 20%;
}

body{
    text-align: center;
}

.main{
    background-color: #000C66;
    color: whitesmoke;
}

.aboutme {
    text-align: left;
    padding-left: 100px;
    padding-right: 100px;
}

table{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;

}

th{
    padding-left: 20px;
    padding-right: 20px;
    color: black;
}

td{
    padding-left: 20px;
    padding-right: 20px;
}

button{
    background-color: #DEC20B;
    border: none;
    padding: 5px;
    border-radius: 5px;
    width: 15%;
    color: whitesmoke;
    
}