<!DOCTYPE html>
{% extends "base.html" %}
<html>
    {% block main %}
    <head>
        <title> </title>
    </head>
    <body>
        <div class = "main">
            <img src = "{{url_for('static', filename='blckwomanv.png')}}">
            <h1> Tavian Hall</h1>
            <h5>@thall <br> Kingston, Jamaica <br> {{ format_date_joined}}</h5>
        </div>
        <p class = "aboutme"> An aspiring web desinger and front end developer from Jamaica. I enjoy taking complex problems and turning them into simple and beautiful design. A philosophy I love and try to live by says "It's no use going back to yesterday, because I was a different person then".  </p>
        
        <table>
            <tr>
                <th>7</th>
                <th>100</th>
                <th>250</th>
            </tr>
            <tr>
                <td>Posts</td>
                <td>Following</td>
                <td>Followers</td>  
            </tr>
        </table>
        <button>Follow</button>
    
    </body>
    {% endblock %}
</html>